name: Ruff lint check

on:
  push:
    branches:
      - '*'

jobs:
  ruff:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Ruff linting check
        run: |
          source venv/bin/activate
          ruff check . --show-fixes --output-format=github

      - name: Ruff formatting check
        run: |
          source venv/bin/activate
          ruff format . --check --diff
